extends layout

block content
  .row
    .col-sm-4
      if item.picUrlSq
        //- img(src=item.picUrlSq).img-fluid
        if item.avatarUrl
          img.card-img-top(src=item.avatarUrl + '-square.', alt='Card image cap')
        else
          img.card-img-top(src=item.picUrlSq, alt='Card image cap')
    .col-sm-8
      h1=item.name
      p=item.type
      p=item.price
      p=item.description
      .text-right
        a(href="/items/" + item.id + "/edit").btn-link Edit
      
