extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Item
            form(action=`/items/${item._id}?_method=PUT`, method="POST")
                .form-group
                    label Name
                    input.form-control(name="name" value=item.name)
                .form-group
                    label Type
                    input.form-control(name="type" value=item.type) 
                .form-group
                    label Avatar
                    input.form-control(name="avatar" type="file" value=item.picUrl)
                .form-group
                    label Rectangular Image URL
                    input.form-control(name="picUrl" value=item.picUrl)    
                .form-group
                    label Square Image URL
                    input.form-control(name="picUrlSq" value=item.picUrlSq) 
                .form-group
                    label Price
                    input.form-control(name="price" value=item.price) 
                .form-group
                    label Description
                    textarea.form-control(name="description" item.description)
                .form-group
                    label Color
                    input.form-control(name="color" value=item.color)    
                .form-group
                    label Product Code
                    input.form-control(name="productCode" value=item.productCode)    
                button(type="submit").btn.btn-primary Save
            .text-right
                form(action=`/items/${item._id}?_method=DELETE`, method="POST")
                    button(type="submit").btn.btn-danger Remove
